.accordion-panel {
  .group-name-h5 {
    margin: 0;
  }
  .profile {
    @media (max-width: 767px) {
      text-align: center;
      margin: 0 auto;
      max-width: 200px;
    }

    h4 {
      font-weight: bold;
    }

    .profile-image {
      margin: 1rem;
      max-width: 100px;
      max-height: 100px;
    }
  }
}
.expand-all-section {
  .expand-all-button {
    cursor: pointer;
  }
}
